{% extends "base.html" %}

{% block title %}Louflasher v2 - {{ flash.nom }}{% endblock %}

{% block nav %}
    <li><a href="{% url 'index' %}">Mes newsletter</a></li>
    <li><a href="{% url 'flash' flash.slug %}">{{ flash.nom }}</a></li>
{% endblock %}

{% block content %}


<article>
    <h1>{{ flash.nom }}</h1>
</article>


    <article id="creerinfo">
        <h2>Édition d'une news</h2>
        <form enctype="multipart/form-data" action="#" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Modifier" /> <a href="{% url 'flash' flash.slug %}">Annuler</a>
        </form>
    </article>
    

{% endblock %}
