{% extends "base.html" %}
{% load static %}

{% block title %}Louflasher v2 - {{ flash.nom }}{% endblock %}

{% block headers %}
<link rel="stylesheet" href="{% static 'flash/coloris.min.css' %}"/>
<script src="{% static 'flash/coloris.min.js' %}"></script>
<script>
    Coloris({
        alpha: false
    });
</script>
{% endblock %}

{% block nav %}
    <li><a href="{% url 'index' %}">Mes newsletter</a></li>
    <li><a href="{% url 'flash' flash.slug %}">{{ flash.nom }}</a></li>
    <li><a href="{% url 'flashparams' flash.slug %}">Paramètres</a></li>
{% endblock %}

{% block content %}


<article>
    <p>Catégories de destinataires de {{ flash.nom }}</p>
    
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        
        <table>
            <thead>
                <tr><th>Catégorie</th><th>Couleur</th><th>Supprimer&nbsp;?</th>
            </thead>
            
            <tbody>
                {% for form in formset %}
                <tr>
                    {{ form.id }}
                    <td>{{ form.nom }}</td>
                    <td>{{ form.couleur }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>        
        
        <input type="submit" value="Sauvegarder">
        <a href="{% url "flash" flash.slug %}">Retour</a>
    </form>
</article>

{% endblock %}
