{% extends "base.html" %}

{% block title %}Louflasher v2 - {{ flash.nom }}{% endblock %}

{% block nav %}
    <li><a href="{% url 'index' %}">Mes newsletter</a></li>
    <li><a href="{% url 'flashparams' flash.slug %}">Paramètres</a></li>
    <li><a href="{% url 'flashdest' flash.slug %}">Éditer les catégories</a></li>
{% endblock %}

{% block content %}


<article>
    <h1>{{ flash.nom }}</h1>
</article>

{% if msg %}
    <article id="msg">
        {% if msg == "delete" %}
            <p>L'info a bien été supprimée !</p>
        {% elif msg == "notest" %}
            <p>Le test a échoué…</p>
        {% elif msg == "testok" %}
            <p>Le mail a bien été envoyé à l'adresse de test.</p>
        {% elif msg == "sendok" %}
            <p>La newsletter a bien été envoyée à toute la liste&nbsp;!</p>
            <p>Les anciennes infos ont été effacées.</p>
        {% endif %}
    </article>
{% endif %}


    <article id="creerinfo">
        <h2>Ajouter une nouvelle news</h2>
        <form enctype="multipart/form-data" action="#" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Ajouter" />
        </form>
    </article>
    
    <article>
        <h2>Le futur envoi de {{ flash.nom }}</h2>
        
        <div id="mail">
        
        <div id="mailheader">
            <h2>Sujet&nbsp;: {{ subject }}</h2>
        
            {% if flash.bandeau %}
                <img src="{{ flash.bandeau.url }}" style="max-width: 100%;" alt="{{ flash.bandeau_alt }}" />
            {% endif %}
        
            {% if flash.entete %}<p>
                {{ flash.entete | linebreaks | urlize }}
            </p>{% endif %}
        
            <p>Voici le code couleur pour faciliter la lecture des informations
            ci-dessous :</p>
            
            <ul>
                {% for dest in dest_qui_existent %}
                    <li><span class="dest dest{{ dest.pk }}" style="background-color: {{ dest.couleur }} !important;"></span>&nbsp;&nbsp; {{ dest.nom }}</li>
                {% endfor %}
            </ul>
            
            <hr />
        </div>
        
        {% for info in liste_info %}
            <div class="info">
                
                <h2>{% for dest in info.qui.all %}
                    <span class="dest dest{{ dest.pk }}" title="{{ dest.nom }}" style="background-color: {{ dest.couleur }} !important;"></span>
                    {% endfor %}
                    {{ info.titre }}
                </h2>
                
                <p>
                    {{ info.description|linebreaks|urlize }}
                </p>
                
                {% if info.url %}
                    <p><a href="{{ info.url }}">{{ info.url }}</a></p>
                {% endif %}
                {% if info.fichier %}
                    <p><a href="{{ info.fichier.url }}">{{ info.fichier.url }}</a></p>
                {% endif %}
                
                <p>
                    <a class="dellink" href="{% url 'delinfo' flash.slug info.pk %}">Supprimer</a>
                    <a class="dellink" href="{% url 'editinfo' flash.slug info.pk %}">Éditer</a>
                </p>
                
                <hr />
            </div>
        {% endfor %}
        
        <div id="mailfooter">
            {% if flash.pied %}
            <p>
                {{ flash.pied | linebreaks|urlize }}
            </p>
            {% endif %}
        </div>
        
        </div>
        
    </article>
    
    <footer>
        <ul class="vign col2">
            <li><div>
                <h3>Tester l'envoi</h3>
                <form id="testsend" action="{% url 'testsend' flash.slug %}" method="post">{% csrf_token %}
                    {{ factour.as_p }}
                    <input type="submit" value="Test" />
                </form>
            </div></li>
            
            <li><div>
                <h3>Envoi à toute la liste</h3>
                <form action="{% url 'send' flash.slug %}" method="get">
                    <code>{{ flash.to_mail  }}</code>
                    <input type="submit" value="Envoyer" />
                </form>
            </div></li>
        </ul>
    </footer>

{% endblock %}
