{% extends "base.html" %}

{% block title %}Louflasher v2 - tes newsletters{% endblock %}

{% block content %}


<article>
    <div id="msg">
    {% if flash_list %}
        <h2>Tes newsletters :</h2>
        <ul>
            {% for flash in flash_list %}
            <li><a href="{{ flash.get_absolute_url }}">{{ flash.nom }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune newsletter</p>
    {% endif %}
    </div>
    
    <div id="mail">
        <p>
            Avant de créer une nouvelle newsletter, tu peux aller sur
            <a href="https://listes.eedf.fr/" target="_blank">l'interface
            de gestion des listes e-mail de Galilée</a>, pour créer la liste
            où sera envoyée la newsletter.
        </p>
        <p>
            Si tu veux une liste synchronisée automatiquement avec le fichier
            des adhésions, n'hésite pas à contacter les bénévoles de 
            l'InterComCom, l'équipe qui gère
            Galilée, pour t'accompagner à la mettre en place :
            <a href="mailto:intercomcom@md2t.eu">intercomcom@md2t.eu</a>.
        </p>
        <p><a href="{% url "newflash" %}">Créer une nouvelle newsletter</a></p>
    </div>
</article>

{% endblock %}
