<html lang="fr">

<head>
    <style>
        /* HTML5-specific CSS setup */
        article,aside,figure,footer,header,hgroup,nav,section{display:block}
        
        /* Styles par destinataires */
        {% for dest in dest_qui_existent %}
            .dest{{ dest.pk }} {
                background-color: {{ dest.couleur }};
            }
        {% endfor %}
        .dest {
            height: 1em;
            width: 1em;
            display:block;
            float:left;
            margin-right:0.2ex;
        }
        
        #mailheader ul li{
            list-style: none;
        }
        #mailheader{
            margin-bottom:1em;
        }
        
        h1{
            font-size:120%;
        }
    </style>
</head>

<body>
    <div id="mailheader">
        {% if flash.bandeau %}
            <img src='cid:bandeau' style="max-width: 100%;" alt="{{ flash.bandeau_alt }}" />
        {% endif %}
        
        {% if flash.entete %}<p>
            {{ flash.entete | linebreaks | urlize }}
        </p>{% endif %}
        
        <p>Voici le code couleur pour faciliter la lecture des informations
        ci-dessous :</p>
        
        <ul>
            {% for dest in dest_qui_existent %}
                <li><span class="dest dest{{ dest.pk }}"></span>&nbsp;&nbsp; {{ dest.nom }}</li>
            {% endfor %}
        </ul>
        
        <hr />
    </div>
    
    
    {% for info in liste_info %}
        <div class="info">
                
            <h1>{% for dest in info.qui.all %}
                <span class="dest dest{{ dest.pk }}" title="{{ dest.nom }}"></span>
                {% endfor %}
                {{ info.titre }}
            </h1>
                
            <p>
                {{ info.description|linebreaks|urlize }}
            </p>
                
            {% if info.url %}
                <p><a href="{{ info.url }}">{{ info.url }}</a></p>
            {% endif %}
            {% if info.fichier %}
                <p><a href="{{ info.fichier.url }}">{{ info.fichier.url }}</a></p>
            {% endif %}
            
            <hr />
        </div>
    {% endfor %}
    
    {% if flash.pied %}
    <div id="mailfooter"><p>
        {{ flash.pied | linebreaks | urlize }}
    </p></div>
    {% endif %}
    
</body>
</html>
