{% extends "base.html" %}

{% block title %}Louflasher v2 - tes newsletters{% endblock %}

{% block nav %}
    <li><a href="{% url 'index' %}">Mes newsletter</a></li>
    {% if slug %}
    <li><a href="{% url 'flash' slug %}">Newsletter</a></li>
    <li><a href="{% url 'flashdest' slug %}">Éditer les catégories</a></li>
    {% endif %}
{% endblock %}


{% block content %}


<article>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        {% if slug %}
            <input type="submit" value="Sauvegarder">
            <a href="{% url "flash" slug %}">Annuler</a>
        {% else %}
            <input type="submit" value="Créer">
            <a href="{% url "index" %}">Annuler</a>
        {% endif %}
    </form>
</article>

{% endblock %}
