{% extends "base.html" %}

{% block title %}Connexion à Louflasher v2{% endblock %}

{% block content %}

{% if form.errors or next %}
<article id="msg">
    {% if form.errors %}
        <p>Erreur de nom d'utilisateurice ou de mot de passe.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Votre compte n'a pas accès à cette page. Merci de vous authentifier
        avec un compte ayant les bons droits d'accès.</p>
        {% else %}
        <p>Connecte-toi avec ton compte Galilée&nbsp;:</p>
        {% endif %}
    {% endif %}
</article>
{% endif %}

<article>
    <p>Connecte-toi avec ton compte Galilée&nbsp;:</p>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
    
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    
    <p><a href="https://galilee.eedf.fr/utilisateurices/changer_mdp/">Mot de passe perdu&nbsp;?</a></p>
    <p><a href="https://galilee.eedf.fr/utilisateurices/creation/">Créer un compte Galilée</a></p>
</article>

{% endblock %}
