{% extends "base.html" %}

{% block title %}Déconnexion Louflasher v2{% endblock %}

{% block content %}

{% if form.errors or next %}
<article id="msg">
    <p>Tu t'es bien déconnecté de Louflasher&nbsp;! À bientôt.</p>
</article>
{% endif %}

<article>
    <p><a href="{% url 'login' %}">Se reconnecter</a></p>
</article>

{% endblock %}
