<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Lou Flasher v2{% endblock %}</title>
    <link rel="stylesheet" href="//galilee.eedf.fr/static/accueil.css" />
    <style>
        /* HTML5-specific CSS setup */
        article,aside,figure,footer,header,hgroup,nav,section{display:block}
        
        #msg {
            margin-top:1em;
            padding: 0px 10px 5px 10px;
            border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
            background: #FFFF99; 
            border: 2px solid #CCCC00;
        }
        
        /* Styles par destinataires */
        /*{% for dest in dest_qui_existent %}
            .dest{{ dest.pk }} {
                background-color: #{{ dest.couleur }} !important;
            }
        {% endfor %}*/
        .dest {
            height: 1em;
            width: 1em;
            display:block;
            float:left;
            margin-right:0.2ex;
        }
                
        h2{
            font-size:120%;
        }
        
        #creerinfo .helptext{
            display:none;
        }
        #creerinfo ul{
            margin:0;
            padding:0;
        }
        #creerinfo ul li{
            display: inline;
            list-style:none;
        }
        input[type=text], textarea{
            width:100%;
        }
        .errorlist{color:red;}
        
        div#mail{
            border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
            background: #FFFFFF; 
            border: 1px solid black;
            font-family: default;
            color: black;
            padding:1ex;
        }
        div#mail #mailheader ul li{
            list-style: none;
        }
        div#mail #mailheader{
            margin-bottom:1em;
        }
        div#mail .info h2{
            font-family: default;
            color: black;
            border: none;
        }
        div#mail a, div#mail a:hover{
            border: none;
            color:blue;
            text-decoration:underline;
        }
        
        div#mail a.dellink{
            float:right;
            color: #0B535B;
            text-decoration:none;
            padding:2px;
            border:1px solid #0B535B;
            font-size:60%;
        }
        div#mail a.dellink:hover{
            color:white;
            background-color: #0B535B;
            border-color: black;
        }
        hr{clear:both;}
        
        #testsend input[type=text]{width: 30ex;}
        
        footer{
            margin-top: 1em;
            margin-bottom:1em;
        }
        #flashnav ul{
            list-style: none;
        }
        #flashnav li{
            display: inline;
        }
        #flashnav a{
            color: #0B535B;
            padding: 1ex;
        }
        #flashnav a:hover{
            color: #AD0101;
        }
        form table, form td, form th{
            border: none !important;
        }
    </style>
    
    {% block headers %}{% endblock %}
</head>

<body>

    <nav>
        <ul>
            <li><a href="https://galilee.eedf.fr/">Retour à l'accueil</a></li>
            <li><a href="https://galilee.eedf.fr/aide-galilee/">Obtenir de l'aide</a></li>
            <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
    </nav>


    <header>
        <h1>Galilée</h1>
        <p>Louflasher v2 - outil de création de newsletters</p>
        <div id="flashnav"><ul>
            {% block nav %}{% endblock %}
            {% if request and request.user and request.user.is_staff %}
                <li><a href="{% url 'admin:index' %}" target="_blank">Administration</a></li>
            {% endif %}
        </ul></nav>
    </header>

    {% block content %}{% endblock %}

    
    <footer>
        <p style="clear:both;">Ce site utilise une version non-modifiée de
        <a href="https://framagit.org/eedf_intercomcom/louflasher_v2/">LouFlasher v2</a>, 
        un logiciel libre publié selon les termes de la 
        <a href="http://www.gnu.org/licenses/agpl.html">AGPLv3</a>.</p>
    </footer>
    
</body>
</html>
